.flow-top-bar {
    -fx-padding: 0.75em 1em 0.75em 1em;
    -fx-background-color: #1c1c1c;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
}
.flow-top-bar-buttons {
    /*This is the minimum gap; more may be added in code using the
      tile pane margins to separate different groups of buttons */
    -fx-hgap: 0.5em;
}
.flow-top-bar-buttons > .button {
    -fx-label-padding: 0 0.3em 0 0.3em;
}
.margin-and-text-line {
    -fx-background-color: #272829;
    -fx-cursor: text;
}
.flow-margin-line {
    -fx-stroke: grey;
}
.flow-margin-background {
    -fx-background-color: #272829;
    -fx-cursor: default;
}
.margin-and-text-line:bj-margin-uncompiled .flow-margin-background {
    -fx-background-color: #363738;
}
.margin-and-text-line:bj-margin-error .flow-margin-background {
    -fx-background-color: hsb(0, 70%, 50%);
}
.moe-breakpoint-icon, .moe-step-mark-icon {
    -fx-cursor: default;
}

.flow-line-label {
    -fx-alignment: center-right;
    -fx-graphic-text-gap: 0;
    -fx-label-padding: 0 2 0 0;
    -fx-text-fill: #D9CDAE;
    -fx-cursor: default;
}
.margin-and-text-line:bj-margin-error .flow-line-label {
    -fx-text-fill: #272829;
}
.text-line .flow-selection {
    -fx-fill: rgba(217, 205, 174, 0.3);
    -fx-stroke: null;
}
.text-line .flow-find-result {
    -fx-fill: rgba(255, 0, 0, 0.5);
    -fx-stroke: null;
}
.text-line .flow-bracket-match {
    -fx-stroke: #D9CDAE;
}

.text-line .flow-ime-input {
    -fx-fill: #D9CDAE;
    -fx-stroke: null;
}

.line-container {
    -fx-background-color: #272829;
}